{% extends "master_page.html" %}
{% block body %}
<table border=1>
  <tr>
    <th>Meno</th>
 	<th>Obrazok</th>
 	<th>Zmaz</th>
  </tr>
  {% for image in images %}
  <tr>
    <td>{{image.name}}</td>
 	<td><img src="{{image.data_url()}}" width=100></td>
 	<td>
 	  <form action="{{delete_image_url}}" method="post">
 	    <input type="hidden" name="image_key" value="{{image.key.urlsafe()}}">
 	    <input type="submit" class="btn btn-small" value="X">
 	  </form>
    </td>
  </tr>
  {% endfor %}
</table>

<script>
function validate_image_form() {
	var name = document.forms["new_image_form"]["image_name"].value;
	if (!name) {
		alert("Chyba meno obrazka");
		return false;
	}
	var url = document.forms["new_image_form"]["image_url"].value;
	if (!url) {
		alert("Chyba url obrazka");
		return false;
	}
	return true;
}
</script>
<form name="new_image_form" action="{{new_image_url}}" onsubmit="return validate_image_form()" method="post">
  <h3>Novy obrazok</h3>
  <div>Meno obrazka: <input name="image_name" type="text" ></div>
  <div>Url obrazka: <input name="image_url" type="text"></div>
  <div><input type="submit" class="btn btn-large btn-primary" value="Pridaj obrazok"></div>
</form>
{% endblock %}