{% extends "master_page.html" %}
{% from 'song_composer.html' import song_composer %}
{% block body %}
<table border=1>
  <tr>
    <th>Meno</th>
 	<th>Obrazok</th>
 	<th>Noty</th>
 	<th>Edituj</th>
 	<th>Zmaz</th>
  </tr>
  {% for song in songs %}
  <tr>
    <td>{{song.name}}</td>
 	<td><img src="{{song.image.get().data_url()}}" width=100></td>
 	<td>{{song.notes}}</td>
 	<td>
 	  <form action="{{edit_song_url}}" method="get">
 	    <input type="hidden" name="song_key" value="{{song.key.urlsafe()}}">
 	    <input type="submit" class="btn btn-small" value="Edituj">
 	  </form>
 	</td>
    <td>
 	  <form action="{{delete_song_url}}" method="post">
 	    <input type="hidden" name="song_key" value="{{song.key.urlsafe()}}">
 	    <input type="submit" class="btn btn-small" value="X">
 	  </form>
    </td>
  </tr>
  {% endfor %}
</table>
<hr>
<h3>Nova pesnicka</h3>
{{song_composer(None, images, new_song_url, 'Pridaj pesnicku')}}

{% endblock %}